<div class="d-flex align-items-center">
  <h1 class="m-1">Audit Salaire</h1>
</div>

<div class="table-container d-flex flex-column justify-content-between mat-elevation-z8">

    <table mat-table matSort [dataSource]="dataSource">

        <ng-container matColumnDef="quand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quand </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="qui">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Qui </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="quoi">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quoi </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <ng-container matColumnDef="ancien_salaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ancien salaire </th>
            <td mat-cell *matCellDef="let element"> {{ element.createdAt | date | date:'MM/dd/y' }} </td>
        </ng-container>

        <ng-container matColumnDef="nouv_salaire">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nouveau salaire </th>
          <td mat-cell *matCellDef="let element"> {{ element.createdAt | date | date:'MM/dd/y' }} </td>
        </ng-container>

        <ng-container matColumnDef="employe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Employe</th>
          <td mat-cell *matCellDef="let element"> {{ element.createdAt | date | date:'MM/dd/y' }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="sticky-paginator" [pageSize]="10" [pageSizeOptions]="[10, 30, 50, 100]">
    </mat-paginator>
</div>
