table {
  width: 100%;
}

.table-container {
  width: 96%;
  margin-left: 1%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
  margin-left: 1%;
}

.demo-button {
  float: right;
  margin-right: 3%;
}

.action {
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.delete {
  background: red;
}

.create {
  background: rgb(119, 172, 119);
}

.update {
  background: rgb(90, 90, 180);
}
