<div class="d-flex align-items-center">
  <h1 class="m-1">Liste des employés</h1>
  <mat-spinner class="ms-2" color="primary" *ngIf="saving" diameter="20"></mat-spinner>
</div>
<mat-form-field class="search-input">
    <mat-label>Filtrer</mat-label>
    <mat-icon matSuffix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<button mat-raised-button color="primary" class="demo-button" (click)="addUser()">
   Ajouter un employé
</button>

<div class="table-container d-flex flex-column justify-content-between mat-elevation-z8">

    <table mat-table matSort [dataSource]="employeList">

        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Employe </th>
            <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container> -->

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="salaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Salaire </th>
            <td mat-cell *matCellDef="let element"> {{element.salaire}} </td>
        </ng-container>

        <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Service </th>
            <td mat-cell *matCellDef="let element"> {{ element.service }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" aria-label="edit" (click)="editUser(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" aria-label="delete" (click)="deleteUser(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="sticky-paginator" [pageSize]="10" [pageSizeOptions]="[10, 30, 50, 100]">
    </mat-paginator>
</div>
