<mat-drawer-container autosize style="height: 100vh;">
  <mat-drawer #drawer mode="side" class="side-bar" opened>
    <h2>Employes</h2>
    <ul>
      <li>
        <a [routerLink]="['/employes']">
          <i class="fa fa-users"></i>
          <span>Employés</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/services']">
          <i class="fa fa-building"></i>
          <span>Service</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/audit']">
          <i class="fa fa-archive"></i>
          <span>Audit</span>
        </a>
      </li>
      <li>
        <a class="exit" (click)="logout()">
          <i class="fa fa-logout"></i>
          <span>Se deconnecter</span>
        </a>
      </li>
    </ul>
  </mat-drawer>

  <div class="main-content">
    <button type="button" mat-button (click)="drawer.toggle()" class="button-sidebar-toggler">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
